@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
:root {
    --backColor:#292929;
    --borderColor:#404040;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: #ffff;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: var(--backColor);
    overflow-x: hidden;
}
main{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: sticky;
    left: 0px;
    top: 0px;
    animation: left 1s ease-in-out;
}
nav{
    width: 85%;
    min-height: 85%;
    border: var(--borderColor) 5px solid;
    box-shadow: 0px 4px 10px black;
    border-radius: 30px;
    position: relative;
}
.first{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.first img{
    border-radius: 100%;
    border: var(--borderColor) 5px solid;
    box-shadow: 0px 4px 10px black;
}
.first h2{
    font-size: 45px;
}
.first h3{
    color: #e8c341;
    font-size: 22px;
    letter-spacing: 1px;
}
.first h2 span{
    font-size: 20px;
}
.second{
    margin-top: 30px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.second h1{
    font-size: 28px;
}
.second h2{
    color: #e84b41;
    font-size: 18px;
    text-align: center;
}
.thrid{
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thrid img{
    width: 50px;
    margin: 10px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    animation: top 1s ease-in-out;
}
.post{
    width: 85%;
    min-height: 85vh;
    border: var(--borderColor) 5px solid;
    box-shadow: 0px 4px 10px black;
    border-radius: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column-reverse;
    margin: 20px;
}
.PostDiv{
    width: 90%;
    height: fit-content;
    border: var(--borderColor) 5px solid;
    box-shadow: 0px 4px 10px black;
    margin: 40px;
    border-radius: 30px;
    padding: 20px;
}
.PostDiv h1{
    text-align: center;
    font-size: 35px;
    
}
.PostDiv p{
    text-align: justify;
    margin-top: 20px;
}